
body {
	font-family: 'Cinzel', serif;
	font-family: 'Crimson Text', serif;
}
h1,h2,h3,h4,h5 {
	text-decoration: none;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
}
h1 { font-size: 2.5rem; line-height: 1.5;  letter-spacing: 0rem; margin-top: 1.75em; }
h2 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: 0rem; margin-top: 1em; }
h5 { font-size: 1.2rem; line-height: 1.5;  letter-spacing: 0rem; margin-top: 1em; }

@media (min-width: 800px) {
	h1 { font-size: 5rem; line-height: 1.5;  letter-spacing: 0rem; margin-top: 1.5em; margin-bottom: 1.5em; }
	h2 { font-size: 2rem; line-height: 1.5;  letter-spacing: 0rem; margin-top: 1.5em; margin-bottom: 1.5em; }
	h5 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: 0rem; margin-top: 1.5em; margin-bottom: 1.5em; }

}

img {
	width: 100%;
}
hr {
	border-top: 1px solid #000;
}

/*div h2 { 
	color: white; 
	background: #000;
	padding: 1rem;
}
*/

.no-underline {
	text-decoration: none;	
}

.table { 
	display: table; 
	width: 100%; 
}
.tablerow { display: table-row; }
.tablecell { display: table-cell; }

.left {
	text-align: left;
}
.right {
	text-align: right;
}

#header {
}

#alt-header {
	background-image: url("../img/me.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 150px 150px;
	margin: 40px;
	height: 200px;
}

.bgimage {
	position: relative;
	width: 100%;
}
h5 { 
	z-index: 100;
	position: absolute; 
	top: 0px; 
	left: 0; 
	width: 100%; 
}
h5 span { 
	color: white; 
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding-left: 1rem;
	padding-right: 1rem;
}

#footer {
	background-image: url("../img/logo-1500x1500-thin.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 75px 75px;
	margin: 40px;
	height: 400px;
    text-transform: uppercase;
}

.icon {
	margin-bottom: 2em;
	font-size: 80%;
	text-align: center;
}

.text-center {
	text-align: center;
}

blockquote {
	font-style: italic;
	-webkit-margin-start: 0.5em;
	-webkit-margin-end: 1em;
	margin-left: 0.5em;
	margin-right:1em;
}