
body {
 	font-family: 'Merriweather', serif;
}
h1,h2,h3,h4 {
	font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
	width: 100%;
}
hr {
	border-top: 1px solid #000;
}

.table { 
	display: table; 
	width: 100%; 
}
.tablerow { display: table-row; }
.tablecell { display: table-cell; }

.left {
	text-align: left;
}
.right {
	text-align: right;
}

#header {
	background-image: url("../img/logo-1500x1500-thin-white.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 150px 150px;
	background-color: #000;
	margin: 40px;
	height: 200px;
}

#alt-header {
	background-image: url("../img/me.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 150px 150px;
	margin: 40px;
	height: 200px;
}


#footer {
	background-image: url("../img/logo-1500x1500-thin.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 75px 75px;
	margin: 40px;
	height: 400px;
}

.icon {
	margin-bottom: 2em;
	font-size: 80%;
	text-align: center;
}

.text-center {
	text-align: center;
}

blockquote {
	font-style: italic;
	-webkit-margin-start: 0.5em;
	-webkit-margin-end: 1em;
	margin-left: 0.5em;
	margin-right:1em;
}