
body {
	font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5 {
	text-decoration: none;
}
img {
	width: 100%;
}
hr {
	border-top: 1px solid #000;
}

.table { 
	display: table; 
	width: 100%; 
}
.tablerow { display: table-row; }
.tablecell { display: table-cell; }

.left {
	text-align: left;
}
.right {
	text-align: right;
}

#header {
	background-image: url("../img/logo-1500x1500-thin.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px;
	padding: 50px;
	height: 120px;
	color: #000;
	margin-bottom: 2em;
}

#alt-header {
	background-image: url("../img/me.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 150px 150px;
	margin: 40px;
	height: 200px;
}

.bgimage {
	position: relative;
	width: 100%;
}
h5 { 
	z-index: 100;
	position: absolute; 
	top: 0px; 
	left: 0; 
	width: 100%; 
}
h5 span { 
	color: white; 
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding-left: 10px;
	padding-right: 10px;
}

#footer {
	background-image: url("../img/logo-1500x1500-thin.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 75px 75px;
	margin: 40px;
	height: 400px;
}

.icon {
	margin-bottom: 2em;
	font-size: 80%;
	text-align: center;
}

.text-center {
	text-align: center;
}

blockquote {
	font-style: italic;
	-webkit-margin-start: 0.5em;
	-webkit-margin-end: 1em;
	margin-left: 0.5em;
	margin-right:1em;
}